<p class="reg"><%=@week.name%><p>


<%@week.days.each do |day|%>
<ul>
  <%= link_to day.name, "/days/#{day.id}"%>
</ul>
<%end%>



<p class='reg'><%= link_to "Delete Week", "/weeks/#{@week.id}", method: "delete"%></p>
<p class='reg'><%= link_to "Edit", "/days/#{@week.id}", method: "patch"%></p>