<p class="reg"><%=@week.name%><p>


<%@week.days.each do |day|%>
<ul>
  <%= link_to day.name, "/days/#{day.id}"%>
</ul>
<%end%>


<% if @week.days.empty?%>
  <p class='reg'><%= link_to "Create Days", "/days/#{@week.id}", method: "post"%></p>
<%end%>

<p class='reg'><%= link_to "Delete Week", "/weeks/#{@week.id}", method: "delete"%></p>