
<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>Wingman Bootstrap Theme</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A robust suite of app and landing page templates by Medium Rare">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,400i,500" rel="stylesheet">
  </head>

  <body>

    <div class="main-container">
      <section>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col">
              <h1 class="h2 mb-2">Workouts</h1>
            </div>
            <!--end of col-->
          </div>
          <!--end of row-->
        </div>
        <!--end of container-->
      </section>
      <!--end of section-->
      <section class="flush-with-above">
        <div class="container">
          <div class="row justify-content-between">
            <!--end of col-->
            <div class="col-12 col-md-10 col-lg-9">
              <div class="d-flex justify-content-between align-items-center mb-4">
                <div>
                <%if @user.workouts.empty?%>
                  <span class="text-muted text-small">Results<%=" No Workouts"%></span>
                <%else%>
                  <span class="text-muted text-small">Results<%=" 1 - #{@user.workouts.count}"%></span>
                <%end%>
                </div>
                <div class="d-flex align-items-center">
                  
                    <div class="btn btn-primary text-white mt-3 ml-3">
                      <%=link_to "Create Workout", "/workouts/new", :class => "btn"%>
                    </div>
                </div>
              </div>
              <table class="table align-items-center">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Created</th>
                    <th scope="col">Author</th>
                    <th scope="col">Status</th>
                  </tr>
                </thead>
                <tbody>
           <%@user.workouts.each do |workout|%>
                  <tr class="text-small">
                    <th scope="row">
                      <a href="#" class="d-flex align-items-center">

                        <span class="text-body"><%=link_to workout.name, "/workouts/#{workout.id}"%></span>
                      </a>
                    </th>
                    <td>28/11/2017</td>
                    <td>You</td>
                    <td>
                      <div class="dropdown d-inline-block">
                        <button class="btn btn-sm btn-outline-primary dropdown-toggle dropdown-toggle-no-arrow" type="button" id="dropdownMenuButton-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="icon-dots-three-horizontal"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-sm">
                          <a class="dropdown-item" href="#">Download</a>
                          <a class="dropdown-item" href="#">Share</a>
                          <a class="dropdown-item" href="#">Comment</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">Delete</a>
                        </div>
                      </div>
                    </td>
                  </tr>
              <%end%>

                  
            </div><!--boom this is it
            <!--end of col-->
          </div>
          <!--end of row-->
        </div>
        <!--end of container-->
      </section>
      <!--end of section-->
    </div>

    <!-- Required vendor scripts (Do not remove) -->



    <!-- Required theme scripts (Do not remove) -->

  </body>

</html>



