<p class="reg">Here is a list of all of your workouts:</p>
<%@user.workouts.each do |workout|%>
  <ul class="workouts">
    <li><p class="reg"><%=link_to workout.name, "/workouts/#{workout.id}"%></p></li>
  </ul>
<%end%>

<p class="reg"><%=link_to "Create Workout", "/workouts/new"%></p>
