<br>
<p class="reg">Please fill in your account info:</p>
<div class="form">
  <%= form_tag '/login', method: :post do%>
      <% label_tag :username%>
      <%= text_field_tag :username, nil, placeholder: "User Name"%>
      <br>
      <%label_tag :password%>
      <%= password_field_tag :password, nil, placeholder: "Password"%>
      <br>
      <br>
    <%= submit_tag "Log In"%>
  <%end%>
</div>



