

<div class="container-fluid text-center text-white">
  <p>Please fill in your account info:</p>
    <div class="form">
      <%= form_tag '/login', method: :post do%>
        <div class="mb-3">
          <% label_tag :username%>
          <%= text_field_tag :username, nil, placeholder: "User Name"%>
        </div>
        <div class="mb-3">
          <%label_tag :password%>
          <%= password_field_tag :password, nil, placeholder: "Password"%>
        </div>
        <%= button_tag(type: "submit", class: "btn btn-primary") do %>
            Log In 
        <% end %>
      <%end%>
    </div>
</div>



