<!doctype html>
<html lang="en">


  <body>

    <div class="main-container">
      <section class="space-lg">
        <div class="container">
          <div class="row mb-4 justify-content-center text-center">
            <div class="col-12 col-md-10 col-lg-9">
              <h1 class="display-4">Welcome <%="#{@profile.name}"%></h1>
              <span class="lead"></span>
            </div>
            <!--end of col-->
          </div>
          <!--end of row-->
        </div>
        <!--end of container-->
      </section>
      <!--end of section-->
      <section class="flush-with-above">
        <div class="container">
          <ul class="row mb-3 feature-list feature-list-sm">

            <li class="col-12 col-md-6 col-lg-4">
              <div class="card card-lg" id="profile">
                <a href="/profile">
                </a>
                <div class="card-body">
                  <a href="/profile">
                    <h4 class="card-title mb-3">Profile</h4>
                  </a>
                  <p class="card-text">Here you can update your profile.</p>
                </div>
                <div class="card-footer card-footer-borderless">
                  <div class="media blog-post-author">
                    <div class="media-body">
                        <small>Put profile info for quick glance</small>

                    </div>
                  </div>
                </div>
              </div>
            </li>

            <li class="col-12 col-md-6 col-lg-4">
              <div class="card card-lg">
                <a href="/workouts">
                </a>
                <div class="card-body">
                  <a href="/workouts">
                    <h4 class="card-title mb-3">All Workouts</h4>
                  </a>
                  <p class="card-text">View all Workouts here!</p>
                </div>
                <div class="card-footer card-footer-borderless">
                  <div class="media blog-post-author">
                    <div class="media-body">
                      <small>Put total workout count here</small>
                    </div>
                  </div>
                </div>
              </div>
            </li>

            <li class="col-12 col-md-6 col-lg-4">
              <div class="card card-lg">
                <a href="#">
                </a>
                <div class="card-body">
                  <a href="#">
                    <h4 class="card-title mb-3">Progress</h4>
                  </a>
                  <p class="card-text">Coming Soon!!!</p>
                </div>
                <div class="card-footer card-footer-borderless">
                  <div class="media blog-post-author">
                    <div class="media-body">
                      <small>Put graph info or percent of goal</small>
                    </div>
                  </div>
                </div>
              </div>
            </li>

          </ul>
          <!--end of row-->
          </div>
          <!--end of row-->
        </div>
        <!--end of container-->
      </section>
      <!--end of section-->
    </div>

    <!-- Required vendor scripts (Do not remove) -->
    <script type="text/javascript" src="assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="assets/js/popper.min.js"></script>
    <script type="text/javascript" src="assets/js/bootstrap.js"></script>

    <!-- Optional Vendor Scripts (Remove the plugin script here and comment initializer script out of index.js if site does not use that feature) -->
    <!-- Required theme scripts (Do not remove) -->
    <script type="text/javascript" src="assets/js/theme.js"></script>

  </body>

</html>
