.error-flash {
  padding: 10px;
  background-color: rgb(27, 31, 35);
  color: white;
}
.success-flash {
  padding: 10px;
  background-color: rgb(27, 31, 35);
  color: white;
}

.notice-flash {
  padding: 10px;
  background-color: rgb(27, 31, 35);
  color: white;
}