 .top-nav {
   overflow: hidden;
   background-color: #002244;
 }

 .top-nav a {
   float: left;
   background-color:rgb(27, 31, 35) ;
   color: white;
   text-align: left;
  //  padding: 14px 16px;
   padding: 17px;
   text-decoration: none;
   font-size: 17px;
 }

 .top-nav a:hover {
   background-color: rgb(39, 49, 61);
   color: white;
 }
